{% extends 'core/base.html' %}
{% block content %}
<div class="container pt-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Time spent</th>
            <th scope="col">Task</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.user }}</td>
            <td>{{ task.date_created }}</td>
            <td>{{ task.time_spent }}</td>
            <td>{{ task.task }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
<div class="container pt-4 text-center">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
          </div>        
        <button type="submit" class="btn btn-success">Add</button>  
    </form>
</div>
{% endblock content %}